<!DOCTYPE HTML>
<html lang="en-US">
<head>
  <meta charset="UTF-8">
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="/css/main.css" />
  <!--
    <link rel="stylesheet" href="/css/jquery.fancybox.css" />
    <link rel="icon" type="image/x-icon" href="{{ site.url }}/favicon.png" />
    <script src="/js/jquery.min.js"></script>
    <script src="/js/jquery.fancybox.js"></script>
  -->
  <link href='http://fonts.googleapis.com/css?family=Parisienne' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Marcellus+SC' rel='stylesheet' type='text/css'>
  <script src="/js/common.js"></script>
</head>
<body>
  <div id="header">
    <div class='h-main'>
      <div class='h-m-logo'>
        <a href="/">Test</a>
      </div>

      <div class='h-m-nav'>
        <a href="/">Saying</a>
        <a href="/list.html">List</a>
      </div>
    </div>
  </div>